@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
@layer utilities {
  @import './themes.css';

  .markdown {
    @apply text-lg leading-relaxed;
  }

  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-6;
  }

  .markdown h2 {
    @apply mt-12 mb-4 text-3xl leading-snug;
  }

  .markdown h3 {
    @apply mt-8 mb-4 text-2xl leading-snug;
  }

  .noFlash {
    /* Remove onclick Background Color Change */
    /* REFERENCE: https://bit.ly/2Yc95wR */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .noFlash:focus {
    /* Remove onclick Border Color Change */
    /* REFERENCE: https://bit.ly/2KFgNG7 */
    outline: none;
    background-color: white !important;
  }
}
