:root {
  --dark-accent-color: hsl(224, 60%, 46%);
}

.dark {
  /* background */
  --color-background: hsla(247, 60%, 3%, 1);
  --color-background-accent: var(--dark-accent-color);

  /* title */
  --color-title: hsl(234, 100%, 12%);
  --color-sub-title: hsl(0, 0%, 77%);

  /* heading */
  --color-text-heading-1: var(--dark-accent-color);
  --color-text-heading-2: hsl(163, 92%, 90%);
  --color-text-heading-3: hsl(163, 92%, 80%);
  --color-text-heading-4: hsl(163, 92%, 70%);

  /* text*/
  --color-text-base: hsl(0, 1%, 70%);
  --color-text-inverted: hsl(0, 0%, 70%);
  --color-text-accent: hsl(236, 25%, 43%);

  /* border */
  --color-border: var(--dark-accent-color);
  --color-border-active: hsla(161, 48%, 47%, 1);

  /* stroke */
  --color-stroke: var(--dark-accent-color);
}

.light {
  /* background */
  --color-background: hsl(0, 0%, 92%);
  --color-background-accent: hsl(49, 0%, 97%);

  /* title */
  --color-title: hsl(0, 0%, 100%);
  --color-sub-title: hsl(0, 0%, 100%);

  /* heading */
  --color-text-heading-1: hsl(49, 0%, 0%);
  --color-text-heading-2: hsl(49, 0%, 10%);
  --color-text-heading-3: hsl(49, 0%, 20%);
  --color-text-heading-4: hsl(49, 0%, 30%);

  /* text*/
  --color-text-base: hsl(0, 0%, 0%);
  --color-text-inverted: rgb(233, 233, 233);
  --color-text-accent: hsl(244, 17%, 38%);

  /* border */
  --color-border: hsl(0, 0%, 77%);
  --color-border-active: hsl(0, 0%, 46%);

  /* stroke */
  --color-stroke: hsl(0, 0%, 0%);
}
